html {
    margin:0;
    padding:0;
    width:100%;
}

body {
    padding:0;
    margin:0;
    width:100%;
    height:100vh;
    background:url(1.jpg) no-repeat 50% 50%;
    background-size:cover;
    display:table;
}

.wrapper {
    text-align: center;
    
}

.nav {
    height:100px;
}

ul {
    height:80px;
    margin:200px auto;
    width:90%;
    list-style: none;
    background: rgba(0,0,0,0.2);
}

li {
    margin-top: 26px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color:#FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size:24px;
    transition: 1s;
    padding:24px 30px;
}

li a:hover {
    transition: 1s;
    background: rgba(255,255,255,0.5);
    color:#000;
}
